
<div class="width-100 align-center">
    <p class="text-right text-capitalize text-white-50 font-weight-bold footer">    
        <span class="font-weight-bold header-order-number" id="footer-order-number"></span>
    </p>
</div>

<!-- <p class="text-center text-muted" style="padding:8px;background-color:#AB131B;color:#fff;text-align:center;margin-top:50px;">&copy; 2018 Papa John's International, Inc. All Rights Reserved. </p> -->