<div class="width-100 align-center">
    <p class="text-right text-capitalize text-white-50 font-weight-bold footer">
        <span class="font-weight-bold header-order-number" id="footer-order-number"></span>
    </p>
</div>

