<div class="width-100 align-center">
	<div class="width-50 float-left">
		<p class="text-left text-capitalize text-white-50 font-weight-bold header">
			<span class="text-capitalize text-white-50 font-weight-normal header-order-number" id="header-order-number"></span>
		</p>
	</div>
	<div class="width-50 float-right header">
		<div class=" width-50 float-left align-right valign-middle iconimgdiv">
			<img class="icon-img" id="iconImages" src="" alt="timer" style="display: none">
		</div>
		<div class="width-50 float-right align-left valign-middle">
			<p class="customTimer" id="customTimer">00:00:00 </p>
		</div>
	</div>
</div>