<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="//localhost:3001/myo.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="//localhost:3001/css/style.css" />
	<script>
		//storing the current screen value in local storage
		localStorage.setItem("screenOne", "true");
		$(document).ready(function () {			
			var socket = io();	
			//setting up the pizza timer
			var pizzaTimer=new Timer();
			//reading the msg from the server
			socket.on('broadcast', function (data) {
				//redaing the data property from server to fadeIn the screens and stop the timer if running		
				if (data.hasOwnProperty("isFedIn")) {					
					$("#screen1").css({ "background-color": "red", "color": "white" });
					$('#header-order-number').html("");						
							if(pizzaTimer.isRunning())
							{
								var newValueSec = parseInt(pizzaTimer.getTimeValues().seconds | 0);
								var newValueMin = parseInt(pizzaTimer.getTimeValues().minutes | 0);								
								localStorage.setItem("pizzaTimeMin",parseInt(newValueMin));
								localStorage.setItem("pizzaTimeSec",parseInt(newValueSec));									
								pizzaTimer.stop(); 
								pizzaTimer.removeEventListener();
								$('#customTimer').html("");
								$('#header-order-number').html("");									
							}
					$("#overlay1").fadeIn();
				} else {					
					if (data != null) {							
						$("#overlay1").fadeOut();
						$("#overlay3").fadeIn();
						$("#overlay4").fadeIn();
						$("#overlay2").fadeIn();
						if (data.orderId != undefined) {
							//initializing the timer object with the localstorage time incase of Prev event and 0 incase of new order
							var min=0;
							var sec=0;
							min=parseInt(localStorage.getItem("pizzaTimeMin"));
							sec=parseInt(localStorage.getItem("pizzaTimeSec"));
							$('#customTimer').html("00:"+localStorage.getItem("pizzaTimeMin")+":"+localStorage.getItem("pizzaTimeSec")); 		
							pizzaTimer.start({  precision: 'seconds', startValues:  { seconds: parseInt(min*60+sec)}}); 							
							//setting the data value in localstorage to read in common.js
							localStorage.setItem("screenData", JSON.stringify(data));
							//setting up of the attributes to be displayed on screen
							$('#img1').attr('src', data.imageUrl[0]);
							$('#iconImages').show();
							$('#iconImages').attr('src', data.imagePath + '/glossy-green-icon.png');
							var nextOrderDetail = nextOrder(data.orderId);
							$('#header-order-number').html(" 14\" " + nextOrderDetail[3] + "<span class='orderidtext'> Order " + nextOrderDetail[2] + " </span>");							
							$('#footer-order-number').html("Next UP: <span class='footerorderbigtxt'> 14\" " + nextOrderDetail[1] + " </span><span class='footerordersmalltxt'> Order " + nextOrderDetail[0] + "</span> ");
							$('#orderId').html(data.orderId);
							$('#screenName').html("Screen" + data.screenName);
							$("#screen1").css({ "background-color": "green", "color": "white" });
							setTimeout(function () {
								$("#screen1").focus();
							}, 3000);

							pizzaTimer.addEventListener('secondsUpdated', function (e) {
								$('#customTimer').html(pizzaTimer.getTimeValues().toString()); 							
								var timerVal=pizzaTimer.getTimeValues().minutes*60 + pizzaTimer.getTimeValues().seconds;							
								if (timerVal >= 60 && timerVal < 120) {
									$('#iconImages').attr('src', data.imagePath + '/yellow-circle-icon.png');
								}
								if (timerVal >= 120 && timerVal <=500) {
									$('#iconImages').attr('src', data.imagePath + '/red-circle-icon.png');
								}    
							});				
							$("#screenContent").show();
							//on button click - move to next screen
							$("#screen1").unbind().click(function () {
								nextscreenlogic();
							});	
						} else {
							$("#screenContent").hide();
							$('#iconImages').hide();
							pizzaTimer.stop(); 	
							pizzaTimer.removeEventListener();
						}
						//Next screen logic
						function nextscreenlogic() {
							//setting up of next screen in localstorage
							localStorage.setItem("screenOne", "false");
							localStorage.setItem("screenThree", "false");
							localStorage.setItem("screenFour", "false");
							localStorage.setItem("screenTwo", "true");
							//fading in the screens & buttons
							$("#screen1").focusout();
							$("#screen1").css({ "background-color": "red", "color": "white" });
							$("#overlay1").fadeIn();
							$("#overlay3").fadeIn();
							$("#overlay4").fadeIn();
							$("#overlay2").fadeIn();
							localStorage.setItem("screenData", JSON.stringify(data));
							//setting up of timer values in localstorage and stopping the timer							
							var newValueSec = parseInt(pizzaTimer.getTimeValues().seconds | 0);
    						var newValueMin = parseInt(pizzaTimer.getTimeValues().minutes | 0);
							localStorage.setItem("pizzaTimeMin",newValueMin);
							localStorage.setItem('pizzaTimeSec',newValueSec);							
							pizzaTimer.stop(); 
							pizzaTimer.removeEventListener();
							//sending the msg to server for next screen
							socket.emit("getNextScreen", data);
						}
					}
				}
			});
		});
	</script>
	<% include ../partials/head %>
</head>
<body class="container" id="container">
	<div id="overlay1">
	</div>
	<header>
		<% include ../partials/header %>
	</header>
	<main>
		<div class="form-group screenContent" Id="screenContent" style="display: none">
			<div id="content">
				<div class="container-fluid align-center">
					<img id="img1" class="img-responsive float-left screen-img" src="" alt="pizza">
				</div>
			</div>
			<div class="row">
				<a class="btn btn-default float-right" id="screen1" style="margin-right: 50px">
					<i class="fa fa-arrow-right" style="font-size:24px"></i>
				</a>
			</div>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>
<script src="//localhost:3001/common.js"></script>